@import "settings/resolution.css";
@import "settings/java-memory.css";


.settingsNavbtn {
  width: 10%;
  text-align: -webkit-center;
  color: white;
  margin: 20% 0%;
}

.settingsbtn {
  display: flex;
  border: none;
  background: none;
  color: #64bf6d80;
  font-size: 140%;
  font-weight: bolder;
  margin: 7% 0%;
  padding: 0;
}

.tabsettings {
  position: absolute;
  border-radius: 25px;
  background: rgb(48, 48, 48);
  padding: 2%;
  top: calc(18% - 2px);
  left: 10%;
  right: 10px;
  bottom: 20px;
}

.accountsettings {
  position: absolute;
  color: transparent;
  margin-left: 30%;
}

.add-account {
  position: absolute;
  margin-top: 3.5%;
  margin-left: 1.5%;
  background-color: rgb(48, 48, 48);
  color: gray;
  font-size: 16px;
  padding: 5px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.settingsSave {
  position: absolute;
  margin-top: 3.5%;
  margin-left: 93.7%;
  background: linear-gradient(to right bottom, #9ac919, #a7cb17, #b3cb18, #c0c916, #d7cd16);
  border: none;
  width: 47px;
  height: 47px;
  transition: all 0.4s cubic-bezier(1, 0.46, 0, 1.29), all 1s ease-in-out;
  color: black;
  border-radius: 10px;
  font-size: 200%;
  text-align: center;
}

.close {
  width: 35px;
  height: 35px;
  color: black;
  align: center;
}

.ramsettings {
  position: absolute;
  margin-top: 8%;
  margin-left: 12%;
  background-color: rgb(48, 48, 48);
  color: gray;
  font-size: 16px;
  padding: 1px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.javasettings {
  position: absolute;
  margin-top: 8%;
  margin-left: 20.7%;
  background-color: rgb(48, 48, 48);
  color: gray;
  font-size: 16px;
  padding: 1px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.resolutionsettings {
  position: absolute;
  margin-top: 8%;
  margin-left: 27.88%;
  background-color: rgb(48, 48, 48);
  color: gray;
  font-size: 16px;
  padding: 1px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.launchersettings {
  position: absolute;
  margin-top: 8%;
  margin-left: 38.5%;
  background-color: rgb(48, 48, 48);
  color: gray;
  font-size: 16px;
  padding: 1px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.accountsettings {
  
}